<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Root Config</title>

  <!--
  This CSP allows any SSL-enabled host and for arbitrary eval(), but you should limit these directives further to increase your app's security.
  Learn more about CSP policies at https://content-security-policy.com/#directive
  -->
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'self' https: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' https: localhost:*; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';">

  <meta name="importmap-type" content="systemjs-importmap" />
  <script
    type="systemjs-importmap">{"imports": {"@sspa/root-config": "https://curritl.gitlab.io/sspa-root-config.js"}}</script>
  <!-- <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script"> -->
  <script type="systemjs-importmap" src="https://curritl.gitlab.io/sspa-import-map/importmap.json"></script>
  <% if (isLocal) { %>
    <script
      type="systemjs-importmap">{"imports": {"@sspa/root-config": "//localhost:9000/sspa-root-config.js"}}</script>
    <% } %>

      <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
</head>

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <script>
    System.import('@sspa/root-config');
    System.import('@sspa/styleguide');
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>

</html>