<single-spa-router>
  <!--

    This is the single-spa Layout Definition for your microfrontends.
    See https://single-spa.js.org/docs/layout-definition/ for more information.

  -->

  <!-- Example layouts you might find helpful:

  <nav>
    <application name="@org/navbar"></application>
  </nav>
  <route path="settings">
    <application name="@org/settings"></application>
  </route>

  -->
  <application name="@sspa/top-nav"></application>
  <main>
    <route default>
      <application name="@sspa/content"></application>
    </route>
  </main>
</single-spa-router>